@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 25%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 25%;
  --popover-foreground: 0 0% 100%;
  --primary: 27 92% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 25%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 0% 25%;
  --muted-foreground: 0 0% 75%;
  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 100%;
  --destructive: 16 91% 39%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 75%;
  --input: 0 0% 75%;
  --ring: 27 92% 50%;
  --radius: 0.75rem;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
